
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    letter-spacing: 0.2px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Inter', sans-serif;
    background-color: #cecece;
}

.container{
  width:640px;
  margin:0 auto;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}

section{
  padding:10px 0;
}
.travel-card{
  padding: 15px 20px;
  margin:10px 20px;
  display: flex;
}

.travel-card img{
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 0.3125rem;
  margin-right: 20px;
} 
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:20px 0;
  background-color: #F55A5A;
  color: #ffffff;
}
.navbar i{
  margin-right: 10px;
}
.country-pin{
  margin-right: 20px;
}
.country-pin svg{
  width: 11px;
  height: 14px;
  fill: #F55A5A;
  margin-right: 10px;
}
.country-maps{
  display: flex;
  flex-direction: row;
}
.country-maps a{
  font-size: 12px;
  color:#918E9B;
}
.travel-title h2{
  font-size: 1.5rem;
  font-weight: 600;
  padding:0.875rem 0; 
}

.travel-time h6{
  font-size: 0.75rem;
  padding:0.5rem 0;
  font-weight: 700;
  line-height: 1.5;
}
.travel-description p{
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.875rem;
  color: #2B283A;
}
